.container{
    background-color: rgb(179, 176, 176);
    font-size: 25px;
    color: white;
    height: 100%;
}

.textWrapper{
    padding-top: 10px;
    padding-left: 20px;    
}

.active{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid blue;
}

.textWrapper :last-child{
    margin-top: 35px;
}

.item{
    text-decoration: none;
    color: white;
}

.forImg{
    font-size: 20px;
    margin-left: -20px;
    display: flex;
    justify-content: space-around;
}

.lastImg{
    margin-top: -40px;
}

.forImg img{
    width: 50px;
    border-radius: 50px;
}

.forImg span{
    /* background-color: aliceblue; */
    border: solid black 1px;
}