.container{
    display: grid;
    grid-template-columns: 3fr 8fr;
    /* background-color: blue; */
}

.dialogs{
    margin-left: 20px;
    background-color: white;
    padding: 20px;
    border: 5px solid rgb(226, 226, 226)
}

.dialogs .items{
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.messages{
    padding: 20px;
    border-left: 1px solid gray;
}

.avatar{
    margin-right: 10px;
    width: 40px;
    border-radius: 50px;
}

